.pie__de__pagina{
    background: rgb(22, 66, 91);
    font-family: 'Poppins', sans-serif;
    padding: 10px 0px 12px 0px;  
    margin-top: 5px;
    text-align: center;
    
}
.texto__footer{
    color: rgb(0, 0, 0);
}